*{
    padding: 0px;
    margin: 0px;
    font-size: x-large;
    font-family: 'Century Gothic', Courier, monospace;
    text-align: center;
}

.container {
    padding: 30px;
    margin: auto;
    width: 500px;
    height: 800px;
    background-color: rgb(21, 241, 87);
    border: 10px dashed rgb(138, 226, 241);
    font-size: x-large;
    font-family: 'Century Gothic', Courier, monospace;
}
#mensaje{
    color: rgb(255, 102, 0);
    position: relative;
    margin: auto;
    width: max-content;
}
#player{
    /*background-color: rgb(87, 33, 235);*/
    border:20px solid #212ff3;
    width: 40px;
    height: 40px;
    border-bottom: 20px solid #212ff3;    
    transition: all 0.2s;
}

#player2{
    /*background-color: rgb(87, 33, 235);*/
    border:20px solid #f53ba1;
    width: 40px;
    height: 40px;
    border-bottom: 20px solid #f53ba1;    
    transition: all 0.4s;
}

.pointer{
    background-color: rgb(40, 224, 154);
    height: 50px;
    margin-top: 30px;
    border-bottom: 0px;
    color: rgb(0, 0, 0)
    font-size=50px;
    text-align: center;
    padding: 10px 0px;
}
